# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=DatabaseFilm

# Midtrans Configuration
MIDTRANS_SERVER_KEY=YOUR_SERVER_KEY
MIDTRANS_CLIENT_KEY=YOUR_CLIENT_KEY
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_IS_SANITIZED=true
MIDTRANS_IS_3DS=true

# TMDb API Configuration
TMDB_API_KEY=YOUR_TMDB_API_KEY

# Google Auth Configuration
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET